## Identifying Successful Film Trends and Opportunities for Microsoft Movie Studio

#### Business Statement
Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they donâ€™t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

#### Objective
Identify the types of films that are currently performing leveraging data analysis and exploration techniques using pandas. The goal is to identify the key factors contributing to the success of movies and provide  insights that inform on the content strategy of Microsoft's new movie studio.

#### Datasets

For this project I will work with two datasets to try and achieve the objective. The first dataset(hype) is pretty clean with no missing values, this gives a nice impression of the data. The second dataset(staple) has a few missing values on the studio and domestic_gross colunms, considering the size of the dataset I'll just do away with the rows with missing values. The foreign_gross column however has alot more missing values, so I will just use the domestic gross for my analysis.

In [3]:
#Import the necessary libraries
import numpy as numpy
import pandas as pd

In [4]:
#Loading data to pandas dataframe and exploring head.
hype = pd.read_csv('/Users/zenah/Desktop/PROJECTS/first_project/Data/tmdb.movies.csv', index_col=0)
hype.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [5]:
#Data Insights
print(hype.shape)

print(hype.dtypes)

(26517, 9)
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

In [6]:
#Checking for any null values
hype.isnull().sum()

genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [7]:
#Loading the second dataset
staple = pd.read_csv('/Users/zenah/Desktop/PROJECTS/first_project/Data/bom.movie_gross.csv')
staple.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [8]:
#Data Insights
print(staple.shape)

print(staple.dtypes)

(3387, 5)
title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object

In [9]:
#Checking for nulls
staple.isnull().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

### Performing Data Cleaning on the 'staple' dataset
After identifying and noting the columns with some missing values, I decided to go with the latter option dropping the rows with misssing values.

In [10]:
#Dropping rows with missing values in studio and domestic_gross columns
staple.dropna(subset = ['studio'], inplace = True)
staple.dropna(subset = ['domestic_gross'], inplace = True)

In [11]:
#Confirmation check that there are no missing values in the specified columns
assert staple['studio'].isna().sum() == 0
assert staple['domestic_gross'].isna().sum() == 0

In [15]:
staple.shape

(9, 4)

In [16]:
#Checking for nulls
staple.isnull().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
dtype: int64

In [13]:
"""
Now that we don't have missing values that would skew our analysis,
let us check the distribution of movies per studio to know the
companies that are currently dominating the industry.
"""

staple['studio'].value_counts()

studio
IFC           166
Uni.          147
WB            140
Magn.         136
Fox           136
             ...
TVC             1
E1              1
ELS             1
PalT            1
Synergetic      1
Name: count, Length: 255, dtype: int64

Now let us see the movies that have been profitable over the years based ondomestic gross

In [14]:
#Finding movies with the highest revenue per year
staple = staple.groupby('year').last()
staple

                     title studio  domestic_gross foreign_gross
year
2010           Kimjongilia  Lorb.          4400.0         10500
2011     An Invisible Sign    IFC          1300.0           900
2012  Death of a Superhero  Trib.           600.0          9500
2013            Storage 24  Magn.           100.0        132000
2014               Mr. Pip   Free          1700.0         27000
2015       The Chambermaid     FM           300.0         11800
2016               Satanic  Magn.           300.0          9100
2017                  2:22  Magn.           400.0        100000
2018     An Actor Prepares  Grav.          1700.0         30000